<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="CommonLayout" 
			  value="[${date:format=MM-dd HH\:mm\:ss.ffff}][${uppercase:${level}}][${logger:shortName=true}.${callsite:className=False:methodName=True}] ${message}${onexception: ${newline}${exception:format=tostring}}"/>
	<variable name="group" value="group1" />
	<variable name ="logDir" value="/var/log/tangram/${group}" />
	<targets>
		<target name="logconsole"  xsi:type="ColoredConsole"
				layout="${CommonLayout}">
		</target>
	</targets>
	<rules>
		<!-- see loglevel: https://github.com/NLog/NLog/wiki/Tutorial-->
		<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="logconsole" />
	</rules>
</nlog>