<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="CommonLayout" 
			  value="[${date:format=MM-dd HH\:mm\:ss.ffff}][${uppercase:${level}}][${logger:shortName=true}.${callsite:className=False:methodName=True}] ${message}${onexception: ${newline}${exception:format=tostring}}"/>
	<variable name ="logDir" value="/var/log/graceful_shutdown" />
	<targets>
		<target name="logconsole"  xsi:type="ColoredConsole"
				layout="${CommonLayout}">
		</target>

		<target xsi:type="File" name="writeToFile"
		fileName="${logDir}/log-${shortdate}.log"
		layout="${CommonLayout}"
		encoding="utf-8"
		createDirs="true"
		maxArchiveFiles="1"
		maxArchiveDays="1"
		archiveNumbering="Sequence"
		archiveAboveSize="104857600"
		archiveFileName="${logDir}/log-${shortdate}.{#}.log"
		archiveEvery="Day"
				/>
	</targets>
	<rules>
		<!-- see loglevel: https://github.com/NLog/NLog/wiki/Tutorial-->
		<!--<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="logconsole" />-->
		<logger name="*" minlevel="Info"  maxlevel="Warn" writeTo="writeToFile"/>

	</rules>
</nlog>